<template name="group">
    {{#each group}}
        <div class="mdl-grid">

            {{#if isOwner}}
                <div class="mdl-cell mdl-cell--12-col">

                    <a href="{{pathFor 'groupEdit'}}" class="edit">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i
                                class="material-icons">edit</i>group
                        </button>
                    </a>
                </div>

            {{/if}}
            <div class="mdl-cell"><img src="{{logo}}" height="175"></div>

            <div class="mdl-cell mdl-cell--6-col ">

                <h5>Name:  {{name}}</h5>
                <h5>Status: {{#if open}}
                    open
                {{else}} closed
                {{/if}}</h5>
            <h5>Created at: {{createdAt}}</h5>
            <h5>Owner:  {{#each groupOwner}}
                 {{>profile}}
            {{/each}}</h5>
        </div>

        <div class="mdl-cell mdl-cell--6-col">
            {{#if usersIn}}<p>Users in group:</p> {{/if}}
            {{#each usersIn  }}
                {{>profile}}

            {{else}} <p>no users</p>
            {{/each}}
        </div>


        </div>

            {{>itemsData}}

    {{/each}}
</template>