<template name="groupEdit">
    {{#each group}}

        <div class="mdl-grid">

            {{#if isOwner}}
                <div class="mdl-cell mdl-cell--12-col">
                    <button class="back mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">
                        <i class="material-icons">keyboard_backspace</i>back
                    </button>

                </div>
                <div class="mdl-cell">
                    <div class="noLogo" id="delete-logo"><i class="material-icons">cancel</i>
                    </div>
                    <div class="mdl-tooltip" data-mdl-for="delete-logo">
                        click to delete current logo
                    </div>
                    <img src="{{logo}}" width="200" class=" newLogo" id="replace-logo">
                    <div class="mdl-tooltip" data-mdl-for="replace-logo">
                        click to choose new logo
                    </div>



                </div>


                <div class="mdl-cell" >

                    <form class="update">
                        <input class="mdl-textfield__input " type="text" id="input-name" value="{{name}}" name="name">

                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="check-open">
                            <input type="checkbox" id="check-open" class="mdl-checkbox__input" checked="{{open}}"
                                   name="open"/>
                            <span class="mdl-checkbox__label">Open for everyone ?</span>
                        </label>

                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
                            <i class="material-icons">done</i>Ok
                        </button>
                        <button class="remove mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i
                                class="material-icons">delete</i>delete
                        </button>
                    </form>
                </div>

                <div class="mdl-cell" >
                    <div class="mdl-cell--6-col  ">

                        {{#each usersIn  }}
                            {{>profile}}
                            <button class="removeUser mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Remove User
                            </button>
                        {{else}}

                        {{/each}}
                    </div>
                    <div class="mdl-cell--6-col ">

                        {{#each allUsers}}
                            {{>profile}}
                            <button class="addUser mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Add User
                            </button>
                        {{/each}}
                    </div>
                </div>


            {{/if}}
        </div>
    {{/each}}
</template>