<template name="groupEdit">
    {{#each group}}
        {{#if isOwner}}

            <div class="container"><a href="#" class="noLogo">X</a>
                <img src="{{logo}}" width="100" align="left" class="img-rounded newLogo">
            </div>
               <a href="#"> <small class="newLogo"> change logo</small></a>
            <div>
                <form class="update">
                   <small>Group Name:</small>
                        <input {{edit.name}} >
                    <br>
                        <small>Open for everyone ?</small>
                        <input {{edit.open}}>

                    <input {{edit.back}} />
                    <input {{edit.submit}} />
                    <input {{edit.remove}} />
                </form>
                <br> &emsp13;
            </div>
            <div class="row">

                <div class="col-xs-6 col-sm-3">
                    <p> Users in group</p>
                    {{#each usersIn  }}

                        {{>profile}}
                        <button class="removeUser">
                            <small>Remove User</small>
                        </button>
                    {{else}}
                        <p>Only you in group</p>
                    {{/each}}
                </div>

                <div class="col-xs-6 col-sm-3"><b>All Users</b>
                    {{#each allUsers}}
                        {{>profile}}
                        <button class="addUser">
                            <small>Add User</small>
                        </button>
                    {{/each}}
                </div>

            </div>
        {{else}}
            <div>only owner can view this</div>
        {{/if}}

    {{/each}}

</template>