<template name="groups">
    <div class="container" style="position: relative">
        <div>
            <form class="new-group">
                <input   {{newGroup.name}} />
                <input {{newGroup.button}} />
            </form>
        </div>
        {{#each groups}}
            {{>groupTitle}}
        {{/each}}
    </div>
</template>

<template name="groupTitle">
    <div class="container">

            <a href="{{pathFor 'group'}}">
                <img src="{{logo}}" width="150">
                <h3>{{name}}      </h3>

            </a>
    </div>
</template>