* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}
.box {
    display: inline-block;
    padding: 5px;
    min-width: 100px;
    min-height: 50px;
    vertical-align: top;
}

#fileDrop {
    width: 150px;
    height:100px;
    border: 2px solid #f7f7f7
}


.collapsed{
    cursor: pointer;
    display: block;

}
.collapsed + input{
    display: none; /* hide the checkboxes */
}
.collapsed + input + div{
    display:none;
}
.collapsed + input:checked + div{
    display:block;
}