<template name="itemsData">

        <br><br>

                <form class="new-item">
                    <input {{newItem.name}} />
                    <input {{newItem.price}} />
                    <input  {{newItem.amount}} />
                    <input {{newItem.button}} />
                </form>
        <div class="container row">
            {{#each files}}
                <div  class="col-xs-6 col-sm-3">
                 <img class="img-rounded" width="100" src="{{url}}">

                <p>{{itemName}}</p>
                <p>{{price}}$</p>
                <div role="group">
                    {{#if isOwner}}
                                <button name="delete" type="button">
                                    <small>delete</small>
                                </button>
                    {{/if}}
                </div>
                </div>
            {{else}}
                <p>No items</p>
            {{/each}}
        </div>

</template>
