<template name="events">

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#event-panel" class="mdl-tabs__tab is-active">Events</a>

                    <a href="#add-event" class="mdl-tabs__tab"> Add event</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="event-panel">

                    {{#each events}}
                        {{>eventName}}
                    {{/each}}
                </div>
                <div class="mdl-tabs__panel " id="add-event">

                    <form class="new-event">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class=" mdl-textfield__input " {{newEvent}} id="event-input"/>
                            <label class="mdl-textfield__label" for="event-input">name</label>
                        </div>
                        <div>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type='submit'
                            ><i class="material-icons">add</i>add event
                            </button>
                        </div>
                    </form>
                </div>
            </div>

</template>

<template name="eventName">
    <h4><a href="{{pathFor 'event'}}">{{name}}</a></h4>
</template>
