<template name="eventEdit">

    <div class="mdl-grid">
        <div class=" mdl-cell--12-col">
            {{#each event}}
                {{#if isOwner}}
                    <button class="back mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button">
                        <i class="material-icons">keyboard_backspace</i>back
                    </button>
                    <form class="update">
                        <div class="mdl-textfield mdl-js-textfield ">
                            <input class="mdl-textfield__input " type="text" value="{{name}}" name="name" id="name">
                            <label class="mdl-textfield__label" for="name">Name...</label>
                        </div>
                            <div class="newselect">
                                <div class="mdl-selectfield">
                                    <select class="status" name="status" >
                                        <option value="" disabled selected>Status :{{status}}</option>
                                        <option value="ordering">Ordering</option>
                                        <option value="ordered">Ordered</option>
                                        <option value="delivering">Delivering</option>
                                        <option value="delivered">Delivered</option>
                                    </select>
                                </div>
                            </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input  class="mdl-textfield__input datetimepicker" id="date-input"  {{eventDate}} />
                        </div>
                         <br>
                        <button class="remove mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i
                                class="material-icons">delete</i>delete
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
                            <i class="material-icons">done</i>Ok
                        </button>
                    </form>
                {{else}}
                    <div>only owner can view this</div>
                {{/if}}
                <div >
                    {{#each groups}}

                        {{>groupTitle}}

                        <button id="event-group-{{_id}}"
                                class="event-group mdl-button mdl-js-button mdl-button--icon  mdl--ripple-effect">
                            {{#if inEvent }}
                                <i class="material-icons ">add</i>
                                <div class="removeGroup mdl-tooltip mdl-tooltip--top "
                                     data-mdl-for="event-group-{{_id}}">
                                    <small> add to event</small>
                                </div>
                            {{else}}
                                <i class="material-icons ">remove</i>
                                <div class="mdl-tooltip mdl-tooltip--top " data-mdl-for="event-group-{{_id}}">
                                    <small>remove from event</small>
                                </div>
                            {{/if}}
                        </button>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</template>