<template name="eventEdit">
    {{#each event}}
        {{#if isOwner}}

            <div class="container">
                <form class="update">
                    <label> Name:
                        <input type="text" value="{{name}}" name="name">
                    </label>
                    <br>
                    <label>
                       <input {{eventDate}} />
                    </label>
                    <br>
                    <button class="back" type="button"><small>Back</small></button>
                    <button type="submit"><small>Submit</small></button>
                    <button class="remove"><small>delete &times;</small></button>
                </form>

            </div>

        {{else}} <div>only owner can view this </div>
        {{/if}}

    {{/each}}

</template>