<template name="about">

    <div class="container">
        <a href="https://www.coshx.com/blog/2016/08/19/how-to-deploy-a-meteor-1-4-app-to-heroku/">
            Deployed by this tutorial
        </a>
    </div>
    <div class="container">

        <a href="https://plus.google.com/u/0/112536427740177169442/"> By this student:</a>
        <img src="https://lh3.googleusercontent.com/IfP2NjBmj3sfTtNnMNdl9OAvVMXafDFkpgbNHqx7Aumh5MCaa4ReHIXtrn4IUpkdPJlhzaQbCg=w1366-h768-rw-no" height="30">
    </div>
</template>