<template name="header">
    <nav class="navbar  navbar-static-top ">
        <div class="navbar-brand">
            <a href="{{pathFor route="home"}}"><span class="glyphicon glyphicon-home"></span></a>
            <a href="{{pathFor route="events"}}">Events</a>
            <a href="{{pathFor route="groups"}}">Groups</a>
            <a href="{{pathFor route="users"}}">Users</a>
            <a href="{{pathFor route="about"}}">About</a>

        </div>
        <div class="navbar-brand"> {{> loginButtons }}</div>
    </nav>
</template>