<template name="home">
    <div> <h2>Hi ! To create this app i use:</h2></div>

  <div >
      <a href="https://meteor.com">
        <h3>Meteor.js</h3>
      </a>
      <img src="https://d14xs1qewsqjcd.cloudfront.net/assets/logo.svg" height="40">
      <h2><a href="https://github.com/jalik/jalik-ufs"> UploadFS</a></h2>
        <p>Saving large files in mongodb <a href="https://docs.mongodb.com/manual/core/gridfs/">GRIDFS</a> </p>
</div>
    <div class="container">
        <h2>
        <a href="https://github.com/iron-meteor/iron-router"><img src="http://iron-meteor.github.io/iron-router/images/iron-router-logo-mobile.png" height="75"></a>
        </h2>
        <p>A client and server side router designed specifically for Meteor.
        </p>
    </div>
    <div>
        <video src="https://www.youtube.com/watch?v=D-xEzJ8_3yc" height="200"></video>
    </div>
    <div>...And many other  miscellaneous things...</div>


</template>