<template name="home">
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <div class="demo-crumbs mdl-color-text--grey-500">
                    <h2> Hi ! To create this app i use:</h2>
                </div>
                <h3><a href="https://meteor.com">
                    Meteor.js
                </a></h3>
                <div>


                    <img src="https://cdn-images-1.medium.com/max/800/1*IsvVqqvbeY8IjlDfVkwsBw.jpeg"
                         height="400" width="600">
                    <h3><a href="https://github.com/jalik/jalik-ufs"> UploadFS</a></h3>
                    <h3>Saving large files in mongodb
                        <a href="https://docs.mongodb.com/manual/core/gridfs/">GRIDFS</a>
                    </h3>
                    <img src="https://webassets.mongodb.com/_com_assets/cms/mongodb-for-giant-ideas-bbab5c3cf8.png"
                         width="600" height="400">

                    <h3>
                        <a href="https://github.com/iron-meteor/iron-router">
                            <img src="http://iron-meteor.github.io/iron-router/images/iron-router-logo-mobile.png"
                                 height="75"></a>
                    </h3>
                    <h3>A client and server side router designed specifically for Meteor.
                    </h3>

                </div>
                <h3><a href="https://getmdl.io/">Basic MDL Usage</a></h3>
                <img src="https://getmdl.io/assets/header.jpg" height="400" width="600">
                <h3>and some... pack-a... packages! from atmosphere!</h3>
                <img src="https://mquandalle.gitbooks.io/apprendre-meteor/content/img/atmosphere.png" width="600"
                     height="400">

                <p>
                    and some text </p>
                <p>wow</p>
            </div>
        </div>


        <footer class="demo-footer mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy and Terms</a></li>
                    <li><a href="#">User Agreement</a></li>
                </ul>
            </div>
        </footer>
    </main>

    <a href="https://github.com/yur1y/meteorapp" target="_blank"
       id="view-source"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View
        Source</a>


</template>